<h1>Sign-up!</h1>
<%= form_for @user do |f| %>
  <%= f.label :email, "E-mail" %><br />
  <%= f.text_field :email  %>

  <%= f.label :password, "Password" %><br />
  <%= f.text_field :password  %>
  <%= f.submit "Submit" %>
<% end %>
<%= link_to 'Return to login', login_path %>