<h1>Look for an open campaign</h1>

<%= form_for @request do |f| %>
<%= f.collection_select :campaign_id, valid_campaigns, :id, :name %><br />
<%= f.collection_select :character_id, current_user.characters, :id, :name %><br />
<%= f.submit %>
<% end %>
<%= link_to 'Return to User Dashboard', current_user %>