<h1><%= @campaign.name %></h1>
<p>An adventure for <%= @campaign.max_players %> level <%= @campaign.average_level %>    characters.<p>
<p>Location: <%= @campaign.location %><p>  

<h2>Current characters</h2>
<ul>
<% @campaign.characters.each do |c| %>
<li><%= link_to "#{c.name}, #{c.alignment} Level #{c.level} #{c.race} #{c.char_class}", c %></li>
<% end%>
</ul>

<% if @campaign.user_id == current_user.id %>
<%= link_to 'Edit this Campaign', edit_campaign_path %><br />
<%= link_to 'Delete this Campaign', @campaign, method: :delete %><br />
<% end %>
<%= link_to 'Return to User Dashboard', current_user %><br />